pip uninstall Pillow -y
pip install Pillow==9.5.0 -i https://pypi.mirrors.ustc.edu.cn/simple/
pip install timm -i https://pypi.mirrors.ustc.edu.cn/simple/
pip install pandas==1.3.5 -i https://pypi.mirrors.ustc.edu.cn/simple/
pip install scikit-image==0.18.3 -i https://pypi.mirrors.ustc.edu.cn/simple/
mkdir -p log
